.vote-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.welcome-message {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
    margin-top: 20px;
    align-items: center;
    /* Center content horizontally */
    text-align: center;
    /* Add margin to separate from proposal title */
}

.proposal-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    align-items: center;
    /* Center content horizontally */
    text-align: center;
    /* Add margin to separate from proposal description */
}

.proposal-section {
    margin-bottom: 20px;
    align-items: center;
    /* Center content horizontally */
    text-align: center;
}


.proposal-description {
    margin-top: 10px;
    padding: 15px;
    /* Added padding for better appearance */
    border: 2px solid #ccc;
    /* Added border */
    border-radius: 8px;
    /* Added border radius */
    background-color: #fff;
    /* Background color for description box */
}

.proposal-description h5 {
    font-size: 20px;
    color: #555;
}

.proposal-description p {
    font-size: 16px;
    color: #777;
}

.voting-stats {
    margin-bottom: 20px;
    flex: 1;
}

.voting-stats h5 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.stats-list {
    list-style-type: none;
    padding: 0;
}

.stats-list li {
    margin-bottom: 10px;
}

.stats-list h6 {
    font-size: 16px;
    color: #555;
    margin: 0;
}

.stats-list span,
.stats-list h3 {
    font-size: 16px;
    color: #777;
}

.vote-section {
    flex: 1;
}

.vote-section h4 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.voting-section {
    display: flex;
}