.vote-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px);
    background-color: rgba(249, 249, 249, 0.7);
}



.welcome-message {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
    margin-top: 20px;
    align-items: center;
    text-align: center;
}

.proposal-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
}

.proposal-section {
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
}


.proposal-description {
    margin-top: 10px;
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
}

.proposal-description h5 {
    font-size: 20px;
    color: #555;
}

.proposal-description p {
    font-size: 18px;
    color: #777;
}

.voting-stats {
    margin-bottom: 20px;
    flex: 1;
}

.voting-stats h5 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.stats-list {
    list-style-type: none;
    padding: 0;
}

.stats-list li {
    margin-bottom: 10px;
}

.stats-list h6 {
    font-size: 18px;
    color: #555;
    margin: 0;
}

.stats-list span,
.stats-list h3 {
    font-size: 18px;
    color: #777;
}

.vote-section {
    flex: 1;
}

.vote-section h4 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.voting-section {
    display: flex;
}


.connectButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding: 20px 40px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
}

.choiceButton {
    background-color: lightgray;
    color: black;
    padding: 20px 40px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid black;
    margin: 10px auto;
}


.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.containerStyle {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.blackBackgroundStyle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -2;
}

.imageStyle {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    position: relative;
    z-index: -1;
}